h2 {
    margin-top: 3em;
    border-top: solid 1px #ccc;
    padding-top: 0.2em;
}

#fortune-text {
    border: solid 1px blue;
    padding: 1em;
    margin: 1em;
}

.order-error {
    /* use this if an ERROR code was returned */
    color: red;
}